
section.section.cover.cover--stage-0#cover
	.container(data-scroll data-scroll-sticky data-scroll-target="#cover" data-scroll-id='cover-container')
		.section__inner.cover__inner
			.cover__body
				.cover__label.cover__label--top
					.cover__label-row
						.cover__label-path.cover__label-path--top всем кажется, что...
						.cover__label-path.cover__label-path--bottom А на самом деле...
				.cover__label.cover__label--bottom 
					.cover__label-row
						.cover__label-path.cover__label-path--top А КАК НА САМОМ ДЕЛЕ?
						.cover__label-path.cover__label-path--bottom РАССКАЖЕМ, ПОЧЕМУ
					.cover__label-icon 
						img(src=require('../../img/arrow-label.svg'), alt="")
				h1.cover__title Быть донором —
				.cover__wrap 
					.cover__text 
						.cover__row 
							.cover__row-path.cover__row-path--top 
								span 
								|не для меня
							.cover__row-path.cover__row-path--bottom спасать жизни
						.cover__row 
							.cover__row-path.cover__row-path--top это очень сложно
							.cover__row-path.cover__row-path--bottom многих людей
						.cover__row 
							.cover__row-path.cover__row-path--top и вредно
							.cover__row-path.cover__row-path--bottom 
								span 
								|заботиться
						.cover__row 
							.cover__row-path.cover__row-path--top непонятно, куда
							.cover__row-path.cover__row-path--bottom о своем здоровье
						.cover__row 
							.cover__row-path.cover__row-path--top 
								span 
								|идет кровь
							.cover__row-path.cover__row-path--bottom 100
								sub % 
								|безопасно
						.cover__row 
							.cover__row-path.cover__row-path--top зачем мне это?
							.cover__row-path.cover__row-path--bottom и просто
					.cover__icons 
						.cover__icon-row
							.cover__icon.cover__icon--top.cover__icon--1
								picture
									img(  src=require('../../img/cover-img-1.png') srcset=require('../../img/cover-img-1-2x.png')+' 2x' alt="")
						.cover__icon-row
							.cover__icon.cover__icon--bottom.cover__icon--4
								picture
									img(  src=require('../../img/cover-img-4.png') srcset=require('../../img/cover-img-4-2x.png')+' 2x' alt="")
						.cover__icon-row
							.cover__icon.cover__icon--top.cover__icon--2
								picture
									img(  src=require('../../img/cover-img-2.png') srcset=require('../../img/cover-img-2-2x.png')+' 2x' alt="")
							
							.cover__icon.cover__icon--bottom.cover__icon--5
								picture
									img(  src=require('../../img/cover-img-5.png') srcset=require('../../img/cover-img-5-2x.png')+' 2x' alt="")
						.cover__icon-row
						.cover__icon-row
							.cover__icon.cover__icon--top.cover__icon--3
								picture
									img(  src=require('../../img/cover-img-3.png') srcset=require('../../img/cover-img-3-2x.png')+' 2x' alt="")
						.cover__icon-row
							.cover__icon.cover__icon--bottom.cover__icon--6
								picture
									img(  src=require('../../img/cover-img-6.png') srcset=require('../../img/cover-img-6-2x.png')+' 2x' alt="")
			.cover__logo 
				img(src=require('../../img/logo.svg'), alt="")