.circles-popup.circles__wrap
    .circles__path.circles__path--top
        .circles__close 
            img(src=require('../../img/close-circle-popup.svg'), alt="")
        .circles__body 	
            .circles__front
                .circles__title Хочу сдавать кровь регулярно
            .circles__back 
                .circles__img.lazy 
                    picture
                        img(  src=require('../../img/circles-img-1-mobile.png') srcset=require('../../img/circles-img-1-2x-mobile.png')+' 2x' alt="")
                .circles__items
                    .circles__item.circles__item--1 Рекомендуемый интервал — 60 дней между сдачами.
                    .circles__item.circles__item--2 Есть ограничение по количеству донаций: мужчинам 5 раз в год, женщинам — 4 раза.
                    .circles__item.circles__item--3 Летом и зимой центры сдачи крови особенно рады донорам, так как в эти периоды поток донаций сокращается.
                .circles__man-inner.lazy 
                    picture
                        img(  src=require('../../img/circles-man-inner-1-mobile.png') srcset=require('../../img/circles-man-inner-1-2x-mobile.png')+' 2x' alt="")
    .circles__path.circles__path--bottom
        .circles__close 
            img(src=require('../../img/close-circle-popup.svg'), alt="")
        .circles__body 	
            .circles__front
                .circles__title Не знаю точно, буду ли еще сдавать кровь
            .circles__back
                .circles__img.lazy 
                    picture
                        img(  src=require('../../img/circles-img-2-mobile.png') srcset=require('../../img/circles-img-2-2x-mobile.png')+' 2x' alt="")
                .circles__items
                    .circles__item.circles__item--4 Через 120 дней (около 4 месяцев) после донации нужно обяза
                        span.mobile - 
                        |тельно вернуться в центр и сдать анализ на вирусы и скрытые инфекции.
                    .circles__item.circles__item--5 Плазма, которую вы сдавали, хранится на карантине и может быть использована только после подтверждения, что вы по‑прежнему здоровы.
                
                    .circles__item.circles__item--6 Если вы не придете, плазму придется утилизировать.
                
                .circles__man-inner.lazy 
                    picture
                        img(  src=require('../../img/circles-man-inner-2-mobile.png') srcset=require('../../img/circles-man-inner-2-2x-mobile.png')+' 2x' alt="")