
section( data-spine-section="1")#prep.section.prep

	.container 
		.section__inner.prep__inner
			
			.section__header.prep__header
			
				h2.section__title.prep__title Что нужно, чтобы стать донором
				.section__subtitle.prep__subtitle Какой центр сдачи крови выбрать, что можно есть накануне и что нужно взять с собой
				
				.section__icon.prep__icon
					img(  src=require('../../img/prep-icon.png') srcset=require('../../img/prep-icon-2x.png')+' 2x' alt="")
				.section__arrow 
					img(src=require('../../img/arrow-down-mobile.png'), alt="")
			.section__body.prep__body
				.prep__checklist-wrap#prep__checklist-wrap
					a(href="" data-scroll data-scroll-sticky data-scroll-target="#prep__checklist-wrap").prep__checklist 
						.prep__checklist-icon 
							img(  src=require('../../img/arrow-down-white.svg'), alt="")
						span Скачать чек-лист
				.prep__bg
					.prep__lottie.prep__lottie--1 
						//- lottie-player(autoplay loop src='./lottie/1/data.json')
					
					.prep__img.prep__img--1.lazy
						picture
							source(media="(max-width: 767px)", data-srcset=require('../../img/prep-img-1-mobile.png')+', ' + require('../../img/prep-img-1-2x-mobile.png')+' 2x')
							img(  data-src=require('../../img/prep-img-1.png') data-srcset=require('../../img/prep-img-1-2x.png')+' 2x' alt="")
					.prep__img.prep__img--2.lazy
						picture
							source(media="(max-width: 767px)", data-srcset=require('../../img/prep-img-3-mobile.png')+', ' + require('../../img/prep-img-3-2x-mobile.png')+' 2x')
							img(  data-src=require('../../img/prep-img-3.png') data-srcset=require('../../img/prep-img-3-2x.png')+' 2x' alt="")

				.prep__slider.slider
					.slider__btns
						.slider__btn
							img(  src=require('../../img/icon-rotate.svg'), alt="")
					.slider__wrap 
						.slider__slide.slider__slide--1.show
							.slider__title Завтрак №1
							.slider__text Овсянка с изюмом, сладкий кофе, тост, яблоко
							.slider__img.lazy
							
								picture
									img(  data-src=require('../../img/prep-slide-1.png') sdata-rcset=require('../../img/prep-slide-1-2x.png')+' 2x' alt="")
						.slider__slide.slider__slide--2
							.slider__title Завтрак №2
							.slider__text Салат из свежих овощей, черный хлеб, компот
							.slider__img.lazy
								picture
									img(  data-src=require('../../img/prep-slide-2.png') data-srcset=require('../../img/prep-slide-2-2x.png')+' 2x' alt="")
						.slider__slide.slider__slide--3
							.slider__title Завтрак №3
							.slider__text Отварной картофель, свежие овощи, булочка, сладкий чай
							.slider__img.lazy
								picture
									img(  data-src=require('../../img/prep-slide-3.png') data-srcset=require('../../img/prep-slide-3-2x.png')+' 2x' alt="")
				.prep__items
					.prep__item.prep__item--1
						.prep__number 01
						.prep__text Проверьте, что у вас нет 
							span.section__hover.prep__hover(data-hint='0') противопоказаний.

					.prep__item.prep__item--2
						.prep__number 02
						.prep__text Выберите удобный центр сдачи крови в своем городе и сверьтесь 
							span.section__hover.prep__hover(data-hint='1') с «Донорским светофором».
					.prep__item.prep__item--3
						.prep__number 03
						.prep__text Запланируйте сдачу крови через 3 полных дня, утром четвертого дня.

					.prep__item.prep__item--4
						.prep__number 04
						.prep__list
							.prep__list-item.prep__list-item--1 
								.prep__list-title за 3 дня до сдачи
								.prep__list-text Не принимайте анальгетики и аспирин.
							.prep__list-item.prep__list-item--2 
								.prep__list-title за 2 дня
								.prep__list-text Не пейте алкоголь.
							.prep__list-item.prep__list-item--3 
								.prep__list-title за 1 день
								.prep__list-text 
									span.section__hover.prep__hover(data-hint='2') Соблюдайте диету.

					.prep__food.food 
						.food__item
							.food__desc Посмотри, какие продукты 
								br
								|можно есть накануне 
								br
								|сдачи крови
							.food__desc.food__desc--mobile 
								.food__desc-icon
									img(  src=require('../../img/icon-hand.svg'), alt="")
								.food__desc-text нажмите на холодильник, чтобы посмотреть диету
							.food__img.lazy 
								picture
									source(media="(max-width: 767px)", data-srcset=require('../../img/prep-img-2-mobile.png')+', ' + require('../../img/prep-img-2-2x-mobile.png')+' 2x')
									img(  data-src=require('../../img/prep-img-2.png') data-srcset=require('../../img/prep-img-2-2x.png')+' 2x' alt="")
							.food__img.food__img--open.lazy 
								picture
									source(media="(max-width: 767px)", srcset=require('../../img/placeholder.png'))
									img(  data-src=require('../../img/prep-img-2-open.png') data-srcset=require('../../img/prep-img-2-open-2x.png')+' 2x' alt="")
							.food__icon
								include ../../img/food-icon.svg
						a(href="" download).food__stories.stories
							.stories__icon
								img(src=require('../../img/icon-stories.svg'), alt="")
							.stories__text 
								span Cохранить картинку для сторис
						.food__popup.lazy
							.food__popup-close 
								img(src=require('../../img/close-popup.svg'), alt="")
							.food__wrap
								.food__bg 
									picture
										source(media="(max-width: 767px)", srcset=require('../../img/placeholder.png'))
										img(  data-src=require('../../img/food-popup.png') data-srcset=require('../../img/food-popup-2x.png')+' 2x' alt="")
								.food__picture 
									picture
										source(media="(max-width: 767px)", srcset=require('../../img/placeholder.png'))
										img(  data-src=require('../../img/food-picture.png') data-srcset=require('../../img/food-picture-2x.png')+' 2x' alt="")
								.food__popup-title Накануне донации крови
								.food__btns
									.food__btn.active Нельзя
									.food__btn Можно
								.food__tabs
									.food__tab.food__tab--1.active
										.food__tab-img.lazy
											picture
												source(media="(max-width: 767px)", srcset=require('../../img/tab-items-1-mobile.png')+', ' + require('../../img/tab-items-1-2x-mobile.png')+' 2x')
												img(  data-src=require('../../img/tab-items-1.png') data-srcset=require('../../img/tab-items-1-2x.png')+' 2x' alt="")
										.food__tab-items
											.food__tab-item.food__tab-item--1 жирное
											.food__tab-item.food__tab-item--2 острое
											.food__tab-item.food__tab-item--3 копченое
											.food__tab-item.food__tab-item--4 яйца, жирные мясо и рыба
											.food__tab-item.food__tab-item--5 масло и молочные продукты
											.food__tab-item.food__tab-item--6 орехи и финики
											.food__tab-item.food__tab-item--7 шоколад
											.food__tab-item.food__tab-item--8 бананы, авокадо
											.food__tab-item.food__tab-item--9 свёклу и чернику

									.food__tab.food__tab--2
										.food__tab-img.lazy
											picture
												source(media="(max-width: 767px)", srcset=require('../../img/tab-items-2-mobile.png')+', ' + require('../../img/tab-items-2-2x-mobile.png')+' 2x')
												img(  data-src=require('../../img/tab-items-2.png') data-srcset=require('../../img/tab-items-2-2x.png')+' 2x' alt="")
										.food__tab-items
											.food__tab-item.food__tab-item--10 фрукты (кроме бананов)
											.food__tab-item.food__tab-item--11 тушеные овощи или на пару
											.food__tab-item.food__tab-item--12 свежие овощи
											.food__tab-item.food__tab-item--13 каши на воде, без масла
											.food__tab-item.food__tab-item--14 макароны без масла
											.food__tab-item.food__tab-item--15 хлеб
											.food__tab-item.food__tab-item--16 соки, морсы, компоты
											.food__tab-item.food__tab-item--17 кофе без молока/сливок и чай
											.food__tab-item

					.prep__item.prep__item--5
						.prep__number 05
						.prep__text Хорошо позавтракайте утром перед сдачей крови.
					.prep__item.prep__item--6
						.prep__number 06
						.prep__text За 1 час до сдачи крови не курите.
					.prep__item.prep__item--7
						.prep__number 07
						.prep__text Перед выходом не забудьте паспорт.
					.section__find.prep__find 
						.section__find-text Теперь вы знаете, как подготовиться к сдаче крови
						a(href="").section__find-btn Найти свой
							span 
							| центр сдачи крови
							.section__find-btn-icon 
								img(  src=require('../../img/menu-icon-1.png') srcset=require('../../img/menu-icon-1-2x.png') + ' 2x' alt="")

	.section__hints
		.section__hints-overlay
		.section__hint.section__hint--1(data-hint='0')
			.section__hint-body 
				.section__hint-close 
					img(  src=require('../../img/close-hint.svg'), alt="")
				.section__hint-title Критерии допуска к сдаче крови
				.section__hint-text
					ul 
						li Возраст от 18 лет
						li Вес от 50 кг. и индекс массы тела от 18,5 и не более 40
						li Температура тела 37  °С и ниже
						li Пульс от 55 до 95 ударов в минуту
						li Давление — 90–149 мм рт. ст. (систолическое), 60–89 мм рт. ст. (диастолическое)
						li Отсутствие противопоказаний из списка 
							a(href="#") абсолютных и временных противопоказаний
		.section__hint.section__hint--2(data-hint='1')
			.section__hint-body 
				.section__hint-close 
					img(  src=require('../../img/close-hint.svg'), alt="")
				.section__hint-title Донорский светофор — что это?
				.section__hint-text
					p Центры сдачи крови актуализируют информацию о своих запасах. В центре Х может быть нехватка B(III) Rh-, а в центре Y — может заканчиваться 0(I) Rh+. 
					p Вы можете выбрать тот центр, где вам удобнее, или тот, где есть потребность в вашей группе крови. Даже если в удобном вам центре ваша группа крови отмечена зеленым цветом на светофоре — это не значит, что она не нужна.
		.section__hint.section__hint--3(data-hint='2')
			.section__hint-body 
				.section__hint-close 
					img(  src=require('../../img/close-hint.svg'), alt="")
				.section__hint-title Почему важно соблюдать диету перед сдачей крови?
				.section__hint-text Когда вы едите жирную пищу или животные белки, в крови повышается уровень жиров (триглицеридов). Это проходящее состояние, но при повышенных триглицеридах кровь для сдачи непригодна. Жиры препятствуют разделению крови на компоненты, а значит, такая кровь будет утилизирована.