section( data-spine-section="4")#benefit.section.benefit

	.container 
		.section__inner.benefit__inner
			.section__header 
				h2.section__title.benefit__title Зачем мне быть донором
				.section__subtitle.title.benefit__subtitle Сдача крови полезна не только пациенту, нуждающемуся в переливании, но и самому донору.
				.section__icon.benefit__icon
					img(loading="lazy" src=require('../../img/benefit-icon.png') srcset=require('../../img/benefit-icon-2x.png')+' 2x' alt="")
			.section__body.benefit__body
				.benefit__bg
					.benefit__img.benefit__img--1
						picture
							//- source(media="(max-width: 767px)", srcset=require('../../img/benefit-img-1.png')+', ' + require('../../img/benefit-img-1-2x.png')+' 2x')
							source(media="(min-width: 1921px)", srcset=require('../../img/benefit-img-1-2x.png'))
							img(loading="lazy" src=require('../../img/benefit-img-1.png') srcset=require('../../img/benefit-img-1-2x.png')+' 2x' alt="")
					.benefit__img.benefit__img--2
						picture
							//- source(media="(max-width: 767px)", srcset=require('../../img/benefit-img-3.png')+', ' + require('../../img/benefit-img-3-2x.png')+' 2x')
							img(loading="lazy" src=require('../../img/benefit-img-2.png') srcset=require('../../img/benefit-img-2-2x.png')+' 2x' alt="")
				.benefit__items
					.benefit__item.benefit__item--1
						.benefit__item-title Регулярная проверка здоровья
						.benefit__text При регулярной сдаче крови вы проходите медицинские осмотры и анализы, а значит — вы всегда в курсе состояния своего здоровья.
					.benefit__item.benefit__item--2
						.benefit__item-title Быстрое восстановление
						.benefit__text У вас вырабатывается иммунитет к незначительным кровопотерям, и организм привыкает к быстрому восстановлению.
					.benefit__item.benefit__item--3
						.benefit__item-title Здоровый образ жизни
						.benefit__text Регулярное донорство помогает вести здоровый образ жизни: вам нужно высыпаться, периодически соблюдать диету, — так вы начинаете более осознанно относиться к своему состоянию.
					.benefit__item.benefit__item--4
						.benefit__item-title Дополнительные выходные
						.benefit__text Вам положены 2 выходных дня после сдачи крови — это 8–10 дополнительных дней отдыха в год.
					.benefit__item.benefit__item--5
						.benefit__item-title Сообщество единомышленников
						.benefit__text А еще доноры — это огромное сообщество осознанных и неравнодушных людей, к чьей компании приятно принадлежать.

					.section__find.benefit__find 
						.section__find-text Теперь вы знаете, как и зачем сдавать кровь
						a(href="").section__find-btn Найти свой
							span 
							| центр сдачи крови
							.section__find-btn-icon 
								img(loading="lazy" src=require('../../img/menu-icon-1.png') srcset=require('../../img/menu-icon-1-2x.png') + ' 2x' alt="")
				.benefit__logo 
					img(loading="lazy" src=require('../../img/logo-end.svg'), alt="")