section( data-spine-section="3")#test.section.test

	.container 
		.section__inner.test__inner
			.section__header 
				h2.section__title.test__title Что будут делать с моей кровью
				.section__subtitle.title.test__subtitle Чтобы убедиться, что кровь донора безопасна, каждая сданная доза проходит исследования и карантин
				.section__icon.test__icon
					img(  src=require('../../img/test-icon.png') srcset=require('../../img/test-icon-2x.png')+' 2x' alt="")
				.section__arrow 
					img(src=require('../../img/arrow-down-mobile.png'), alt="")
			.section__body.test__body
				
				.test__bg
				
					.test__lottie.test__lottie--1.lottie-item 
					.test__lottie.test__lottie--2.lottie-item
					.test__lottie.test__lottie--3.lottie-item
					.test__img
						picture
							source(media="(max-width: 767px)", srcset=require('../../img/test-img-1-mobile.png')+', ' + require('../../img/test-img-1-2x-mobile.png')+' 2x')
							img(  src=require('../../img/test-img-1.png') srcset=require('../../img/test-img-1-2x.png')+' 2x' alt="")
					//- .test__lottie.test__lottie--1 
					//- 	img(src=require('../../img/test-lottie.png'), alt="")
						//- lottie-player(autoplay loop src='./lottie/1/data.json')
				.test__items
					.test__item.test__item--1
						.test__item-title 
							span.desktop Проверка крови
							span.mobile Исследования
						.test__text Определяется группа крови и резус, другие параметры, отсутствие инфекций. Если при исследовании обнаружится то, что может быть опасно для вашего здоровья, — вам обязательно сообщат, соблюдая конфиденциальность.
					.test__item.test__item--2
						.test__item-title Разделение на компоненты 
						.test__text Каждую дозу цельной крови разделяют на плазму, тромбоциты и эритроцитную взвесь. Пациент получает именно тот компонент, который ему необходим. Так кровь одного донора может спасти несколько жизней.
					.test__item.test__item--3
						.test__item-title 120 дней карантина 
						.test__text В карантине проходит 
							span.section__hover.test__hover(data-hint='3') 
								span серонегативный 
								span период инфекции. 
							| Все это время компоненты хранятся в холодильниках.
					.test__item.test__item--4
						.test__text.desktop Затем кровь отправляется в медицинские учреждения в специальных термоизоляционных контейнерах или рефрижераторах.
						.test__text.mobile
							p После карантина и подтверждения безопасности крови ее можно использовать. 
							p Кровь отправляется в медицинские учреждения в специальных термоизоляционных контейнерах или рефрижераторах.

					.test__item.test__item--5
						.test__item-title 
							span.desktop Где нужна донорская кровь
							span.mobile В больнице
						.test__text У донорской крови много назначений, но в основном ее везут в больницы
							span.desktop  — т
							span.mobile . Т
							|ам она нужна всегда.
					.test__accordions 
						.accordion.accordion--1
							.accordion__header
								.accordion__icon 
									img(  src=require('../../img/icon-accordion.svg'), alt="")
								.accordion__title Реанимация
							.accordion__body
								.accordion__inner
									.accordion__text В экстренных ситуациях используют все компоненты: плазму для лечения шоковых состояний, эритроцитную взвесь — при потере крови, тромбоциты — для онкобольных.
									.accordion__img.lazy
										picture
											source(media="(max-width: 767px)", data-srcset=require('../../img/accordon-img-1.png')+', ' + require('../../img/accordon-img-1-2x.png')+' 2x')
											img( src=require('../../img/placeholder.png') alt="") 	
									a(href="" download).accordion__stories.stories
										.stories__icon
											img(src=require('../../img/icon-stories.svg'), alt="")
										.stories__text 
											span Cохранить картинку для сторис
														
						.accordion.accordion--2
							.accordion__header
								.accordion__icon 
									img(  src=require('../../img/icon-accordion.svg'), alt="")
								.accordion__title Родильное отделение
							.accordion__body
								.accordion__inner
									.accordion__text Донорская плазма помогает при лечении сбоев в свертываемости крови и больших кровопотерях.
									.accordion__img.lazy
										picture
											source(media="(max-width: 767px)", data-srcset=require('../../img/accordon-img-2.png')+', ' + require('../../img/accordon-img-2-2x.png')+' 2x')
											img( src=require('../../img/placeholder.png') alt="") 		
										
						.accordion.accordion--3
							.accordion__header
								.accordion__icon 
									img(  src=require('../../img/icon-accordion.svg'), alt="")
								.accordion__title Лаборатория
							.accordion__body
								.accordion__inner
									.accordion__text В некоторых случаях донорскую кровь используют для научных медицинских исследований, когда использование другого материала невозможно.
									.accordion__img.lazy
										picture
											source(media="(max-width: 767px)", data-srcset=require('../../img/accordon-img-3.png')+', ' + require('../../img/accordon-img-3-2x.png')+' 2x')
											img( src=require('../../img/placeholder.png') alt="") 	
										
						.accordion.accordion--4
							.accordion__header
								.accordion__icon 
									img(  src=require('../../img/icon-accordion.svg'), alt="")
								.accordion__title Стационар
							.accordion__body
								.accordion__inner
									.accordion__text Для проведения плановых операций каждый стационар нуждается во всех типах и компонентах крови.
									.accordion__img.lazy
										picture
											source(media="(max-width: 767px)", data-srcset=require('../../img/accordon-img-4.png')+', ' + require('../../img/accordon-img-4-2x.png')+' 2x')
											img( src=require('../../img/placeholder.png') alt="") 	
										
						.accordion.accordion--5
							.accordion__header
								.accordion__icon 
									img(  src=require('../../img/icon-accordion.svg'), alt="")
								.accordion__title Производство медикаментов
							.accordion__body
								.accordion__inner
									.accordion__text При производстве иммунологических и кровеостанавливающих лекарств используют различные компоненты донорской крови.
									.accordion__img.lazy
										picture
											source(media="(max-width: 767px)", data-srcset=require('../../img/accordon-img-5.png')+', ' + require('../../img/accordon-img-5-2x.png')+' 2x')
											img( src=require('../../img/placeholder.png') alt="") 	
										
					.section__find.test__find 
						.section__find-text Теперь вы знаете, кому помогает ваша кровь
						a(href="https://donorsearch.org/bloodstations/" target="_blank").section__find-btn Найти свой
							span 
							| центр сдачи крови
							.section__find-btn-icon.test__lottie--4.lottie-item
								//- img(  src=require('../../img/menu-icon-1.png') srcset=require('../../img/menu-icon-1-2x.png') + ' 2x' alt="")

	.section__hints
		
		.section__hints-overlay
		.section__hint.section__hint--4(data-hint='3')
			.section__hint-body 
				.section__hint-close 
					img(  src=require('../../img/close-hint.svg'), alt="")
				.section__hint-title Серонегативный период инфекции
				.section__hint-text Период, когда человек уже заразился, но вирус еще нельзя определить